body {
  padding-inline: 4vmin;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;

  > .container {
      display: grid;
      height: 85vmin;
      width: 85vmin;
      margin-top: 3vmin;
      gap: 2vmin;
      grid-template-columns: repeat(9, 1fr);
      grid-template-rows: repeat(9, 1fr);

      > div {
          background: hsla(var(--secondary-background-color));
          border: 1px solid var(--accents-1);
          border-radius: 0.5rem;
      }

      .intro {
          grid-column: 1 / 7;
          grid-row: 1 / 4;
          padding: 3vmin;

          > h1 {
              font-size: 2.7vmin;
              font-weight: 800;
          }

          > p {
              margin-top: 2vmin;
              font-size: 1.8vmin;
              color: hsl(0, 0%, 85%);

          }
      }

      .image {
          grid-column: 7 / 10;
          grid-row: 1 / 5;
          overflow: hidden;
          display: flex;
          justify-content: center;
          border: 1px solid hsla(0, 0%, 50%);

          img {
              height: 100%;
              transform: scale(1.5);
          }
      }

      .role {
          grid-column: 1 / 4;
          grid-row: 4 / 6;
          font-weight: 800;
          font-size: 2.5vmin;
          display: grid;
          place-items: center;
          color: var(--accents-3);
      }

      .name {
          grid-column: 4 / 7;
          grid-row: 4 / 7;
          font-size: 3.2vmin;
          font-weight: 900;
          display: grid;
          place-items: center;
          
          > span {
              transform: translate(-0.3vmin, -0.3vmin);
              color: hsl(0, 0%, 90%);
          }
      }

      .quote {
          grid-column: 7 / 10;
          grid-row: 5 / 7;
          font-size: 1.8vmin;
          padding: 5vmin;
          display: grid;
          place-items: center;
          font-weight: 700;
          color: var(--accents-3);
      }

      .skills {
          grid-column: 1 / 4;
          grid-row: 6 / 10;
          padding: 2.5vmin 3.5vmin;

          > h1 {
              font-size: 2.5vmin;
          }

          > div {
              display: grid;
              margin-top: 2.8vmin;
              grid-template-columns: repeat(4, 1fr);
              grid-template-rows: auto;
              gap: 2vmin;
              
              > img {
                  width: 100%;
                  opacity: 60%;
                  transition: all 0.2s ease;
              }

              > img:hover {
                  opacity: 100%;
                  transform: scale(1.5);
              }
          }
      }

      .history {
          grid-column: 4 / 10;
          grid-row: 7 / 10;
          padding: 3vmin;
          display: flex;
          flex-direction: column;

          > h1 {
              font-size: 2.5vmin;
          }

          > div {
              margin-top: 2vmin;
              font-size: 1.8vmin;
              height: 100%;
              display: flex;
              flex-direction: column;

              > p:nth-child(1) {
                  font-weight: 600;
                  color: hsla(0, 0%, 90%)
              }

              > p:nth-child(2) {
                  color: hsla(0, 0%, 90%);
                  margin-top: 0.6vmin;
                  margin-bottom: 0.8vmin;
              }
              > p:nth-child(3), > p:nth-child(4) {
                  margin-top: 0.4vmin;
                  font-size: 1.8vmin;
                  color: hsla(0, 0%, 60%);
              }
          }

          > a {
              font-size: 1.8vmin;
              border-radius: 6px;
              border: 1px solid var(--accents-1);
              width: fit-content;
              padding: 1.2vmin;
              cursor: pointer;
              margin-left: auto;
              display: flex;
              align-items: center;
              gap: 0.6vmin;

              > img {
                  transform: translateY(0.1vmin);
                  width: 2vmin;
              }
          }

          > a:hover {
              background: hsla(0, 0%, 10%);
          }
      }
  }

  > aside:first-of-type {
      transform: translateY(15vmin) rotate(-90deg);
      width: 0;
      
      > span {
          display: flex;
          font-size: 2cqh;
          opacity: 50%;
          transition: all 0.3s ease;
      }

      > span:hover {
          opacity: 1;
      }
  }

  > aside:last-of-type {
      display: flex;
      flex-direction: column;
      width: 3.5vmin;
      gap: 2vmin;

      > a {
          > img {
              width: 100%;
              cursor: pointer;
              opacity: 50%;
              transition: all 0.2s ease;
          }

          > img:hover {
              opacity: 1;
              transform: scale(1.4);
          }
      }

      
  }
}

.box {
  position: absolute;
  width: 20rem;
  height: 20rem;  
  background: white;
}