/* General styling */
html, body {
    height: 100%; 
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

/* Flex container to push footer to the bottom */
body {
    display: flex;
    flex-direction: column;
}

/* Main content area */
main {
    flex: 1; 
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
}

/* Header styling */
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 15px 0;
}

header h1 {
    margin: 0;
    font-family: Rockwell;
}

/* Navigation styling using Flexbox */
nav {
    background-color: #444;
    padding: 10px 0;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.1em;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Card styling in main content */
.card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card h2 {
    margin-top: 0;
}

/* Footer styling */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    width: 100%;
}
.back-button-container {
    position:absolute; 
    top: 60px;     
    right: 30px;    
}
.back-button {
    background-color: #142ffe; 
    color: #ffffff;
    border: none;            
    border-radius: 20px;    
    padding: 10px 15px;       
    font-size: 16px;           
    cursor: pointer;          
    transition: background-color 0.3s; 
}

.back-button:hover {
    background-color: #18d648; /* Darker blue on hover */
}

